*{
    padding:0%;
    margin: 0%;
    overflow-x: hidden;
}

.navbar{
padding-left: 4rem;
padding-right: 11.4rem;
height: 100px;
}
.section-1{
    padding-left: 11.4rem;
    padding-right: 11.4rem;
}
#img{
    height: 287px;
    width: 100%;
    justify-content: center;
}
.sec-1{
    width: 50%;
    background-color: #d4e9e2;
    color: #1e3932;
}
.sec-2{
    width: 50%;
 
}

.sec-4{
    width: 50%;
    background-color: #f6bfd9;
    color: #1e3932;
}
.sec-3{
    width: calc(100% * (6 / 12));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39rem;
    overflow: hidden;
}
#img-2{
    width: 100%;
    object-fit: fill;
}
.sec-5{
    width: calc(100% * (6 / 12));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39rem;
    overflow: hidden;
}
.sec-6{
    width: 50%;
    background-color: #fff4d4;
    color: #1e3932;
}

.sec-7{
    width: 50%;
    color: #1e3932;
}
.sec-8{
    width: calc(100% * (6 / 12));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39rem;
    overflow: hidden;
}
.footer{
    background-color: #ffff;
    padding: 100px;
}
.footer-col{
 width: 16%;
 padding: 0% 14px;
}
.container{
    max-width: 1170px;
    background-color: rgb(253, 253, 253);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul a{
    text-decoration: none;
    color: black;
}
ul{
    padding-left: 0%;
}
